body {
  
  background-color: #C3CCD6;
}

.container{
  width: 80%;
}

.card {
  background-color: transparent;
  
  padding: 0 10% 0;
  border-radius: 5px;
}

.card-header {
  text-align: center;
}

.custom-links a {
    color: red; /* Change the color to your desired value */
  }
  
.actions {
  margin-top: 10px; 
  text-align: center;
}
